.night .code{
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  box-shadow: 0 0 7em rgba(0, 26, 255, 0.5);
}

.night .CodeMirror {
  box-shadow: 0 0 7em rgba(0, 26, 255, 0.2);

}

.code{
  background-color: white;
  color: black;
  width: 100%;
}


.CodeMirror {
      resize: vertical;
      /* overflow: auto !important; */
}      
.CodeMirror { height: 100%; }
.clear-button {
  display:table-cell;
  position: absolute;
  top: .3em;
  right: .3em;
  padding: .3em .4em;
  margin:0;
  border: 0.0625em solid #ccc;
  background-color: #f8f8f8;
  color: #666;
  border-radius: 3px;
  cursor: pointer;
  font-size: .9em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1;
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 6;
}

.clear-button:hover {
  background-color: #e8e8e8;
  color: #333;
}

