.textarea-container {
  position: relative;
  z-index: 1;
}

/* Layout and responsive design */
.game-container {
  display: flex;
  align-items: flex-start;
  gap: 1em;
  margin-bottom: 1em;
  order: 2;
}

.stage {
  font-size: 1.5em;
}



@media (min-width:1000px) {
  .game-code-container {
    display: flex;
    flex-direction: row;
    gap: 4%;
  }

  .game-container {
  }

  .editor-container {
    position: relative;
    min-width: 20%;
    order: 1;
    min-height: 100%;
    margin-bottom: 1em;
    z-index: 1100;
 }

  .displays {
    order: 2;
    max-width: 10em;

  }

}

/* Stack layout vertically on smaller screens */
@media (max-width: 768px) {

  .game-code-container {
    flex-direction: column;
    align-items: center;
  }

  .game-container {
    flex-direction: column;
    align-items: center;
    z-index: 2;
    order: 1;
  }

  .editor-container {
    width: 100%;
    z-index: 1;
    order: 3;
  }

  .displays {
    order: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .stage {
    order: 1;
    font-size: 1em;
    ;
  }
}

.bottom-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  z-index: 0;
}